language: android
jdk:
  - oraclejdk8
android:
  components:
  - tools
  - extra-android-m2repository
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
before_script:
  - curl https://kaltura.github.io/playkit/tools/android-sdk-license.sh | sh
script:
  - ./gradlew dtglib:build dtgqueue:build
after_success:
  - ./travis-push-to-bintray.sh
notifications:
  email:
    recipients:
      - noam.tamim@kaltura.com
      - gilad.nadav@kaltura.com
      - Anton.Afanasiev@kaltura.com
    on_success: change
    on_failure: always
