<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaltura.dtg" >

    <application android:allowBackup="true">
        <service
            android:name=".clear.ClearDownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
