<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaltura.dtg" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service
            android:name=".clear.DefaultDownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>
    
</manifest>
